/* Button start */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 40px;
    margin: 0 5px;
    font-size: 14px;
    color: rgb(15, 63, 194);
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 10px 10px -5px rgba(59, 59, 59, 0.200);
}

.btn:hover {
    margin-bottom: 5px;
    box-shadow: 0 10px 10px -1px rgba(59, 59, 59, 0.300);
}

.btn:active {
    margin-top: 5px;
    box-shadow: 0 10px 10px -10px rgba(59, 59, 59, 0.300);
}